{% extends 'base.html' %}				<!-- inherit from our base template -->

{% block content %}
	<h1>New post</h1>
	<form action="" method="post">{% csrf_token %} <!-- use <form> tags since we are sending data. If we were receiving data from a form, we would use GET
														csrf_token is added so Django provides to protect our form from crosssite scripting attacks
														. I should use it for all my Django forms. -->
		{{ form.as_p }} 							<!-- to output our form data we use {{ form.as_p }} which renders it within paragraph <p> tags -->
		<input type="submit" value="Save" /> 		<!-- finally specify an input type of submit and assign it the value "Save" -->
	</form>
{% endblock content %}